# Получение Unity лицензии через GameCI
# Запусти вручную → скачай .alf artifact → загрузи на license.unity3d.com
# → скачай .ulf → добавь в GitHub Secrets как UNITY_LICENSE

name: Get Unity License

on:
  workflow_dispatch: {} # только ручной запуск

jobs:
  request-license:
    name: Request Unity Activation File
    runs-on: ubuntu-latest

    steps:
      - name: Request .alf file
        id: getManualLicenseFile
        uses: game-ci/unity-request-activation-file@v2
        with:
          unityVersion: 2022.3.45f1

      - name: Upload .alf artifact
        uses: actions/upload-artifact@v4
        with:
          name: Unity_v2022.3.45f1.alf
          path: ${{ steps.getManualLicenseFile.outputs.filePath }}
          retention-days: 1
